<html>
<head>
<title>Controlador AngularJS</title>
</head>
<body>
<h2>Controlador AngularJS</h2>
<div ng-app="" ng-controller="recetaController">

Nombre de la receta: <input type="text" ng-model="receta.nombre"><br>
Ingredientes principales: <input type="text" ng-model="receta"><br>
<br>
{{receta.resumen()}}
</div>

<script>
function recetaController($scope) {
   $scope.receta = {
      nombre: "ingredientesPrincipales",
      ingredientesPrincipales: "Pasta, champiñones, bacon y aceite",
      resumen: function() {
         var recetaObj;
         recetaObj = $scope.receta;
         return " La receta " + recetaObj.nombre + " se hace con:" + recetaObj.ingredientesPrincipales;
      }
   };
}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</body>
</html>