<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading"><input ng-model="receta.nombre" type="text" class="form-control" placeholder="Título de la receta">
				</div>
				<div class="panel-body">
					<div class="bs-example" data-example-id="hoverable-table">
						
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Ingrediente</th>
									<th>Cantidad</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="text" ng-model="ingrediente.nombre" class="form-control" placeholder="ejem: Azucar"</td>
									<td><input type="text" ng-model="ingrediente.cantidad" class="form-control" placeholder="ejem: 3 cucharadas"</td>
									<td><a href="javascript:void(0);" ng-click="insertarIngrediente()"><i class="glyphicon glyphicon-plus"></i></a></td>
								</tr>
								<tr ng-repeat="ingrediente in receta.ingredientes">
									<td>{{ingrediente.nombre}}</td>
									<td>{{ingrediente.cantidad}}</td>
									<td><a href="javascript:void(0);" ng-click="borrarIngrediente()"><i class="glyphicon glyphicon-remove-circle"></i></a></td>
								</tr>
								
							</tbody>
						</table>
					</div>
					<hr>
					<label for="descipcion">Descripción</label>
					<textarea ng-model="receta.descripcion" name="descriptcion" class="form-control" rows="3"></textarea>
					<hr>
					<input ng-model="receta.precio" type="text" class="form-control" placeholder="Precio">
					<hr>
					<button class="btn btn-primary" ng-click="insertarReceta()">Añadir</button>
					</div><!--/panel-body-->
				</div>
			</div>
		</div>
	</div>
</div>