<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading"><input type="text" class="form-control" placeholder="Título de la receta"></div>
				<div class="panel-body">
					<div class="bs-example" data-example-id="hoverable-table">
						
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Ingrediente</th>
									<th>Cantidad</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="text" class="form-control" placeholder="ejem: Azucar"</td>
									<td><input type="text" class="form-control" placeholder="ejem: 3 cucharadas"</td>
									<td><a href=""><i class="glyphicon glyphicon-plus"></i></a></td>
								</tr>
								<tr>
									<td>Vino</td>
									<td>Otto</td>
									<td><a href=""><i class="glyphicon glyphicon-remove-circle"></i></a></td>
								</tr>
								
							</tbody>
						</table>
					</div>
					<hr>
					<label for="descipcion">Descripción</label>
					<textarea id="descripcion" name="descriptcion" class="form-control" rows="3"></textarea>
					<hr>
					<button class="btn btn-primary">Añadir</button>
					</div><!--/panel-body-->
				</div>
			</div>
		</div>
	</div>
</div>