<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">{{receta.nombre}} ({{receta.precio}}€)</div>
				<div class="panel-body">
					<div class="bs-example" data-example-id="hoverable-table">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Ingrediente</th>
									<th>Cantidad</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ingrediente in receta.ingredientes">
									<td>{{ingrediente.nombre}}</td>
									<td>{{ingrediente.cantidad}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<hr>{{receta.descripcion}}<hr>
					<!--<button class="btn btn-primary">Editar</button>-->
					<button class="btn btn-danger" ng-click="borrarReceta()"><i class="glyphicon glyphicon-trash"></i>Borrar</button>
					</div><!--/panel-body-->
				</div>
			</div>
		</div>
	</div>
</div>